* {
  margin: 0;
  padding: 0; }

body {
  background-color: #f1f1f1;
  font-size: 80.5%;
  margin: 10px; }

header {
  width: 100%;
  height: 600px;
  background: url("/image/potro.jpg"); }

.todoSports {
  font-family: 'Raleway', sans-serif;
  color: white;
  padding-block: 20px;
  margin: 10px; }

/*
.container-menu{
    background-color:#8f1d14;
    
}

.navbar-brand{
    margin-left: 10px;
}
*/
p {
  font-size: 20px;
  margin: 5px; }

article {
  font-size: 20px;
  font-family: 'Oswald', sans-serif;
  margin: 5px; }

footer {
  background: #202020;
  color: white;
  width: 100%;
  margin-top: 20px; }

.container-footer-padre {
  width: 100%;
  max-width: 1600px;
  margin: auto;
  padding: 40px; }

.container-body {
  display: flex;
  /*los elementos se colocan uno al lado del otro*/
  justify-content: space-between; }

.column-footer1 {
  max-width: 400px; }
  .column-footer1 h1 {
    font-size: 22px; }
    .column-footer1 h1 p {
      font-size: 14px;
      color: #c7c7c7; }

.column-footer2 {
  max-width: 400px; }

.column-footer2 h1 {
  font-size: 22px; }

.row {
  margin-top: 20px;
  display: flex; }

.row img {
  width: 36px;
  height: 36px; }

.row label {
  margin-top: 10px;
  margin-left: 20px;
  color: #c7c7c7; }

.column-footer3 {
  max-width: 400px; }

.column-footer3 h1 {
  font-size: 22px; }

.row2 {
  margin-top: 20px;
  display: flex; }

.row2 img {
  width: 36px;
  height: 36px; }

.row2 label {
  margin-top: 10px;
  margin-left: 20px;
  max-width: 140px; }

.container-footer {
  width: 100%;
  background: #101010; }

.Cfooter {
  max-width: 1200px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  padding: 20px; }

.copyright {
  color: #c7c7c7; }

.politicas a {
  text-decoration: none;
  color: #c7c7c7; }

@media screen and (max-width: 1100px) {
  .container-body {
    flex-wrap: wrap; }
  .column-footer2,
  .column-footer3 {
    margin-top: 40px; } }

#carouselExampleCaptions {
  height: 460px;
  width: 900px; }
  #carouselExampleCaptions img {
    height: 500px;
    width: 1000px;
    padding: 40px;
    align-content: center; }
    #carouselExampleCaptions img h5 {
      font-size: 30px;
      text-shadow: 0.1em 0.1em 0.05em #333; }
      #carouselExampleCaptions img h5 p {
        text-shadow: 0.1em 0.1em 0.05em #333; }

.SeccionNoticias {
  display: inline-flex; }
  .SeccionNoticias h2 {
    text-align: start;
    margin-top: 5px; }

.DivInicio1 {
  border: groove;
  border-style: groove  black;
  display: inline-block;
  padding: 5px;
  font-size: 15px;
  font-family: Arial, Helvetica, sans-serif;
  margin: 20px;
  flex-direction: row; }

.DivInicio1__fotoRM {
  width: 200px;
  height: 150px;
  overflow: hidden;
  display: inline-block; }

.DivInicio2 {
  border: groove;
  border-style: groove  black;
  display: inline-block;
  padding: 5px;
  font-size: 15px;
  font-family: Arial, Helvetica, sans-serif;
  margin: 20px;
  justify-content: space-between; }

.DivInicio2__tituloVardy {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; }

.DivInicio3 {
  border: groove;
  border-style: groove  black;
  display: inline-block;
  padding: 5px;
  font-size: 15px;
  font-family: Arial, Helvetica, sans-serif;
  margin: 20px;
  justify-content: space-between; }

.DivInicio3__salahFoto {
  width: 200px;
  height: 150px;
  overflow: hidden;
  display: inline-block; }

.barcelonaIndex {
  margin: 10px 10px 5px 5px; }

.noti-seccion {
  text-align: start; }

.bodyOp {
  margin-top: 80px; }

.tituloOpinion {
  color: white;
  font-family: 'Raleway', sans-serif;
  text-align: center; }

.titulo-op {
  margin-top: 30px;
  color: #f1f1f1;
  background-image: linear-gradient(to right, #8f1d14, #f1f1f1); }

.contenedorOpinion {
  display: grid;
  background-color: none;
  padding: 1em;
  grid-template-rows: 400px 400px;
  gap: 160px;
  justify-content: space-around;
  margin-top: 40px;
  align-items: start; }
  .contenedorOpinion a {
    text-decoration: none;
    color: black; }

.contenedorOp1 {
  border: 1px solid;
  text-align: center; }
  .contenedorOp1 img {
    width: 220px;
    height: 180px; }

.contenedorOp2 {
  border: 1px solid;
  text-align: center; }
  .contenedorOp2 img {
    width: 240px;
    height: 150px;
    margin-top: 5px; }

.contenedorOp1:hover, .contenedorOp2:hover {
  border: 1px solid #8f1d14; }

.deportes {
  margin-left: 10px;
  margin-top: 60px; }
  .deportes div:hover {
    border: 1px solid yellow; }
    .deportes div:hover div {
      border: 1px solid;
      margin: 20px;
      background-color: #ecf0f1;
      overflow: hidden; }

/*======FOTOS Y VIDEOS DE NOTICIAS=======*/
.contenedorBeisbol__manyRamirez {
  margin: 30px; }

.contenedorBeisbol__blake {
  width: 200px;
  height: 150px;
  margin: 30px; }

.contenedorBasquet {
  display: grid;
  background-color: none;
  padding: 1em;
  grid-template-columns: 400px 400px;
  grid-template-rows: 580px 400px;
  gap: 160px;
  justify-content: space-around; }
  .contenedorBasquet div:hover {
    border: 1px solid yellow; }
    .contenedorBasquet div:hover div {
      border: 1px solid;
      margin: 20px;
      background-color: #ecf0f1;
      overflow: hidden; }

/*======FOTOS Y VIDEOS DE NOTICIAS=======*/
.contenedorBasquet__marc {
  width: 260px;
  height: 200px;
  margin: 30px; }

.contenedorBasquet__din {
  width: 260px;
  height: 200px;
  margin: 30px; }

.contenedorBasquet__videoBasquet {
  margin-left: 50px; }

.conTe {
  width: 100%;
  height: 100%; }

.tenis img {
  width: 100px;
  height: 60px; }

.table th {
  border: solid 2px;
  background-color: #8f1d14;
  color: #f1f1f1; }

.table2 {
  width: 300px; }

.btnPartidos:hover {
  background-color: #8f1d14;
  color: white; }

.contenedorPublicidad {
  display: grid;
  grid-template-rows: 100px;
  border: 1px solid;
  font-size: 20px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  text-align: center;
  background-image: radial-gradient(#f1f1f1, #8f1d14); }

.publicidad {
  margin-top: 20px; }

.contenedorPublicidad {
  animation-duration: 5S;
  animation-name: contenedorPublicidad; }

@keyframes contenedorPublicidad {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@media only screen and (max-width: 600px) {
  body {
    background-color: salmon; }
  .menu {
    background: white;
    flex-direction: column;
    color: black; }
  .menu ul {
    flex-direction: column; } }

.bodyContacto {
  margin-top: 30px; }

.mainContacto {
  margin-top: 60px; }

.sectionContacto {
  margin: 20px; }

.tituloContacto {
  margin-top: 5px; }
