header{
    width: 100%;
    height: 600px;
    background: url('/image/potro.jpg');
}

.todoSports{
    font-family: 'Raleway', sans-serif;
    color: white;
    padding-block: 20px;
    margin: 10px

}

/*
.container-menu{
    background-color:#8f1d14;
    
}

.navbar-brand{
    margin-left: 10px;
}
*/