.deportes{
    font-size:px;
}

.tablePar {
    font-size: 15px;
    font-family: 'Libre Franklin', sans-serif;;
   
   thead{
    color: #ffd369;
    background-color: #393e46;

   }
}

.btn{
    background-color: #393e46;
    color: #ffd369;
}

.tablePar2{
    th{
        color: #ffd369;
        background-color: #393e46;
     
    }
}