.contenedorPublicidad{
    display: grid;
    grid-template-rows: 100px;
    border: 1px solid;
    font-size: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    background-image: radial-gradient( #f1f1f1,#8f1d14)
    
}




.publicidad{
    margin-top: 20px;
}

.contenedorPublicidad{
    animation-duration: 5S;
    animation-name: contenedorPublicidad;
}

@keyframes contenedorPublicidad {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@media only screen and (max-width:600px)
{   
    body{
        background-color: salmon;
    }
    .menu {
        background: white;
        flex-direction: column;
        color: black;
    }


    .menu ul {
        flex-direction: column;
    }
}
 
